

                /*petite résolution mobiles*/




@media screen and (min-width:320px) and (max-width:767px)


{

* { 

margin: 0;
padding: 0;
box-sizing: border-box;

 }

html, body

{

	height: 100%;
	border: 0;
}

body

{

	font-family: 'Roboto';
	color: #000;
}

#accueil

{

background-color: #fff;
width: 100%;

}

#zone_menu

{

display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
background-color: #fff;
z-index: 150;
top: 0;
left: 0;
width: 100%;


}

.flotte

{
padding-left: 0;
padding: 5px 10px 20px 0px;
z-index: 99;
}

#nav

{

justify-content: center;
padding: 69px 0px 0px 0px;
margin: 0 0 0 0;
background-color: transparent;
text-align: center;
}

 #menu a

{

font-family: 'Roboto Thin', 'Roboto';
padding: 5px 0px 5px 0px;
text-decoration: none;
color: #75787c;
text-align: center;
}


/* fin header*/


/*bannière*/

.bloc2

{

background: url('webagency_images/images/slider/bg1.jpg') no-repeat center;
background-size: 109%;
background-repeat: no-repeat;
position: absolute;
width: 107%;
height: 100%;
padding-left: 0;
padding-right: 0;
margin-top: 77%;
font-family: 'Roboto';
}

.bloc2 .caption /*texte accroche h1*/


{

position: absolute;
height: 95%;

top: -14%;
left: -11%;
color: #fff;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
z-index: 1;


}


.bloc2 .caption h1 


{

font-family: 'Roboto';
font-size: 14px;
font-weight: bold;
color: #fff;
padding: 38px 0px 0 0px;
line-height: 3.3;
letter-spacing: 0px;
width: 100%;
position: absolute;
top: 302px;
margin-top: -5px;
}

.text1_

{

color: #5cadd3;
margin-left: 68px;
}
.text1_1

{

margin-left: 9.3em;


}

.text1_2

{

margin-left: 3.5em;

}
.caption .text1

{

font-family: 'Roboto';
font-size: 10px;
color: #fff;
margin-bottom: 30px;
padding: 10px 0px;
line-height: 10.6;
margin-left: 9em;
margin-top: 8em;
}

.caption .text2

{

font-family: 'Roboto';
font-size: 16px;
width: 120px;
color: #fff;
background-color: #5cadd3;
padding: 10px;
text-decoration: none;
margin-left: 5.7em;
margin-top: 9.5em;

}

/*fin bannière*/

/*services*/
/*en tete service*/




#service


{

margin: 0% 0% 25% 0%;
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 80%;


}
.services

{


width: 100%;
position: relative;
left: 550px;
margin:  0;

}

.services h2


{

margin: 0;
width: 100%;
display: flex;
padding: 0 72% 0 0;
font-size: 35px;
position: absolute;
left:0px;
top: 111px;
line-height: 1;
justify-content: center;

}

.title_divider

{


padding: 0;
margin: 0;
position: absolute;
width: 100%;
left: 210px;
top: 800px;
right: 10px;

}

.rectangle

{

width: 10%;
margin: 0 25%;
border-bottom: 1px solid #e5e7ea;
position: absolute;
height: 1%;
left: 30px;

}

.point1 .fa-circle

{

position: absolute;
margin-top: -7em;
margin-left: -0.7em;
color: #5cadd3;
border: 5px solid #fff;
border-radius: 100%;

}

.intro

{

text-align: center;
padding: 0;
margin: 0;
line-height: 1.6;
font-family: 'Roboto';

color: #707070;
display: block;
position: absolute;
left: 50.55px;
top: 582px;
width: 100%;
}
/*fin en tete service*/


/*corp services*/


.contenu_service  /*conteneur global image+H2+textes+FA*/

{

display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
margin: 0px 0px;
position: relative;
top: 283px;
right: 208px;

}


.flotte1  /*container image ordi*/

{

margin: 0;
width: 100%;
position: relative;
top: 48px;
}

.flotte1 img/*image ordi*/

{

flex-grow: 1;
padding: 0 0% 0% 0%;
width: 45%;
position: absolute;
left: 10%;

}

aside

{

margin-top: 10%;
margin-left: 4%;

}

#container /*conteneur H2+textes*/

{

display: flex;
flex-wrap: wrap;
width: 100%; 
flex-grow: 1;
padding: 3.5% 8% 0 2.5%;
position: relative;
left: 45%;
}

.block

{

position: relative;
display: flex;
flex-direction: row;
width: 100%;
margin: 20px 0;
height: 70px;

}

.block #icones1 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}


.block h3, .h21, .h22, .h23

{

	text-align: center;
	font-size: 21px;
	padding: 0px 3px 0 10px;  
	font-family: 'Roboto';
	width: 150px;
	height: 30px;
	margin: 0 0 42px 0;
}

.block .text_11

{

	font-family: 'Roboto';
	font-size: 14px;
	padding: 5px 3px 0 10px;
	line-height: 1.6;
	color: #707070;
	margin-left: 6.9em;
	margin-top: 1.6em;
}


.block #icones2 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}

.cubes

{

position: absolute;
margin-left: 0.2em;
margin-top: 0em;

}

.point3

{

margin-left: 3.4em;
margin-top: 1em; 

}

.block .text_21

{

font-family: 'Roboto';
	font-size: 14px;
	padding: 0;
	line-height: 1.6;
	color: #707070;
	margin-left: 7.8em;
	margin-top: 2.2em;
}

.block #icones3 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}

.pie

{
	font-size: 25px;
margin-left: 0.2em;
margin-top: 0.1em;
border: 1px solid grey;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 20px;
}


.point4


{

margin-left: 3.2em;
margin-top: 1.1em;

}


.block .text3


{

font-family: 'Roboto';
	font-size: 14px;
	padding: 0;
	line-height: 1.6;
	color: #707070;
	margin-left: 7.8em;
	margin-top: 2.2em;
}

.fa-stack /*container fa*/

{

display: inline-block;
height: 60px;
line-height: 2em;
position: relative;
vertical-align: middle;
width: 15%;


}


.fa, .fas,.far

{

font-weight: 900;
font-family: 'FontAwesome';
}


.fa-char-line, .fa-cubes, .fa-char-pie


{

text-align: center;
border-radius: 100%;
padding: 20px;
box-shadow: 0 0 2px #888;
color: #5cadd3;
font-size: 30px;
width: 70px;
height: 70px;
transition: 0.9s ease-out;


}

.chart

{

	margin-top: 0em;
	margin-left: 0em;
	border: 1px solid grey;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 20px;
}


.point2


{

margin-top: 1em;
margin-left: 3em;
}


.block.fa-circle

{

	position: absolute;
	top: 25px;
	left: 63px;
	color: #5cadd3;
	border: 3px solid #fff;
	border-radius: 100%;
	background: #fff;
	font-size: 12px;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 
{

	display: none;
}
/*fin section services*/


/*Portfolio*/

/*en tete*/

#portfolio

{

	background-color: #efefef;
	padding-bottom: 7%;
	height: 232%;
	width: 100%;
	padding-right: 0;
}



#groupe_en_tete

{

display: block;
margin-top: 0em;
right: 0px;

}

#en_tete_3


{

display: block;
	margin-top: 23em;
left: -30px;


}

 .projets


{

font-family: 'Roboto';
font-size: 40px;
font-weight: bold;
padding: 20px 0 0 0px;
text-align: center;
margin: 130px 0 0 0;
font-kerning: normal;
line-height: 1.6;
width: 110%;
top: 145px;
right: -16.55px;
left: -19.1px;
bottom: 250px;
display: block;
}


.rectangle2

{

width: 10%;
margin: 0;
border-bottom: 1px solid #e5e7ea;
position: absolute;
left: 370px;
right: -54px;
top: -242px;
}

.point1bis

{

display: none;

}

.point2bis 

{

    margin-top: 0px;
	margin-left: 0px;
	position: relative;
	width: 100%;
top: -90px;
left: 50%;
right: 50%;
}
.point2bis .fa-circle

{
border: 3px solid #fff;
border-radius: 100%;
top: -165px;
position: absolute;
z-index: 3;



}

.t_intro

{

text-align: center;
padding: 0px 30px;
margin: 0% 25% 5% 20%;
line-height: 1.6;
font-family: 'Roboto';
font-weight: bold;
font-size: 14px;
color: #707070;
width: 100%;
}


.intro_bis

{

width: 53%;
margin: 0% 35% 5% auto;
position: relative;
top: -210px;
}

/*fin en tete*/

/*images travaux*/


.containergallery

{

display: inline;
height: 80%;
width: 97%;

}

#espacement_presentation /* presentation en gris */


{

margin: 0% 50% 0% 30%;
top: 555.2px;
}


#presentation /* presentation en gris */

{

width: 110%;
margin: 0 auto;
bottom: 50px;
top: -270px;

}

ul#conteneur_images


{
list-style: none;
display: flex;
flex-wrap: wrap;


margin: 0 ;
width: 22.2%; 
height: 69%;
flex-direction: column;
padding: 0% 0% 28% 0%;
align-content: center;
position: relative;

left: 550px;
right: 0px;
bottom: 50px;
top: 140px;
}

li.conteneur_image_overlay


{
min-width: 272px;
width: 107%;
text-align: center;

}


/*fin images travaux*/

/*footer*/


#contact

{




}


.contact_conteneur

{
display: flex;
flex-wrap: wrap;
background-color: #e8f0fb;
width: 100%;

}

.contact-form


{
	
	
left: 0%;
width: 100%;
top: 20%;
text-align: center;

}

.carte

{

width: 100%;
height: 660px;
bottom: -40em;
}


}

/*petite résolution tablette*/

@media screen and (min-width:768px) and (max-width:1024px)


{

* { 

margin: 0;
padding: 0;
box-sizing: border-box;

 }

html, body

{

	height: 100%;
	border: 0;
}

body

{

	font-family: 'Roboto';
	color: #000;
}

#accueil

{

background-color: #fff;
width: 100%;

}

#zone_menu

{

display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
background-color: #fff;
z-index: 150;
top: 0;
left: 0;
width: 100%;


}

.flotte

{

padding: 5px 10px 20px 0px;
z-index: 99;
}

#nav

{

justify-content: center;
padding: 65px 0px 40px 0px;
margin: 0 0 0 0;
background-color: #fff;
}

 #menu a

{

font-family: 'Roboto Thin', 'Roboto';
padding: 5px 0px 5px 0px;
text-decoration: none;
color: #75787c;
text-align: center;
}


/* fin header*/


/*bannière*/

.bloc2

{

background: url('webagency_images/images/slider/bg1.jpg') no-repeat center;
background-size: contain;

position: absolute;
width: 100%;
height: 70%;
padding-left: 0;
padding-right: 0;
}

.bloc2 .caption /*texte accroche h1*/


{

position: absolute;
height: 100%;

top: -15%;
left: 0%;
color: #fff;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
z-index: 1;


}


.bloc2 .caption h1 


{

font-family: 'Roboto';
font-size: 25px;
font-weight: bold;
color: #fff;
padding: 15px 0px;
line-height: 3.3;
letter-spacing: 0px;
width: 100%;
position: absolute;
top: 303px;
}

.text1_

{

color: #5cadd3;
margin-left: 85px;
}
.text1_1

{

margin-left: 9.3em;


}

.text1_2

{

margin-left: 3.5em;

}
.caption .text1

{

font-family: 'Roboto';
font-size: 14px;
color: #fff;
margin-bottom: 30px;
padding: 10px 0px;
line-height: 1.6;
margin-left: 6.7em;
margin-top: 8em;
}

.caption .text2

{

font-family: 'Roboto';
font-size: 16px;
width: 120px;
color: #fff;
background-color: #5cadd3;
padding: 10px;
text-decoration: none;
margin-left: 5.7em;
margin-top: 9.5em;

}

/*fin bannière*/

/*services*/
/*en tete service*/




#service


{

margin: 0% 0% 25% 0%;
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 80%;


}
.services

{


width: 100%;
position: relative;
left: 550px;
margin:  0;

}

.services h2


{

margin: 0;
width: 100%;
display: flex;
padding: 0 0% 0 0;
font-size: 35px;
position: absolute;
left:0px;
top: 50px;
line-height: 1;
justify-content: center;

}

.title_divider

{


padding: 0;
margin: 0;
position: absolute;
width: 100%;
left: 210px;
top: 800px;
right: 10px;

}

.rectangle

{

width: 10%;
margin: 0 25%;
border-bottom: 1px solid #e5e7ea;
position: absolute;
height: 1%;
left: 30px;

}

.point1 .fa-circle

{

position: absolute;
margin-top: -7em;
margin-left: -0.7em;
color: #5cadd3;
border: 5px solid #fff;
border-radius: 100%;

}

.intro

{

text-align: center;
padding: 0;
margin: 0;
line-height: 1.6;
font-family: 'Roboto';

color: #707070;
display: block;
position: absolute;
left: 50.55px;
top: 820px;
width: 100%;
}
/*fin en tete service*/


/*corp services*/


.contenu_service  /*conteneur global image+H2+textes+FA*/

{

display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
margin: 0px 0px;
position: relative;
top: 283px;
right: 208px;

}


.flotte1  /*container image ordi*/

{

margin: 0;
width: 100%;
position: relative;
top: 48px;
}

.flotte1 img/*image ordi*/

{

flex-grow: 1;
padding: 0 0% 0% 0%;
width: 45%;
position: absolute;
left: 10%;

}

#container /*conteneur H2+textes*/

{

display: flex;
flex-wrap: wrap;
width: 100%; 
flex-grow: 1;
padding: 3.5% 8% 0 2.5%;
position: relative;
left: 45%;
}

.block

{

position: relative;
display: flex;
flex-direction: row;
width: 100%;
margin: 20px 0;
height: 70px;

}

.block #icones1 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}


.block h3, .h21, .h22, .h23

{

	text-align: center;
	font-size: 21px;
	padding: 0px 3px 0 10px;  
	font-family: 'Roboto';
	width: 150px;
	height: 30px;
	margin: 0 0 42px 0;
}

.block .text_11

{

	font-family: 'Roboto';
	font-size: 14px;
	padding: 5px 3px 0 10px;
	line-height: 1.6;
	color: #707070;
	margin-left: 6.9em;
	margin-top: 1.6em;
}


.block #icones2 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}

.cubes

{

position: absolute;
margin-left: 0.2em;
margin-top: 0em;

}

.point3

{

margin-left: 3.4em;
margin-top: 1em; 

}

.block .text_21

{

font-family: 'Roboto';
	font-size: 14px;
	padding: 0;
	line-height: 1.6;
	color: #707070;
	margin-left: 7.8em;
	margin-top: 2.2em;
}

.block #icones3 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}

.pie

{
	font-size: 25px;
margin-left: 0.2em;
margin-top: 0.1em;
border: 1px solid grey;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 20px;
}


.point4


{

margin-left: 3.2em;
margin-top: 1.1em;

}


.block .text3


{

font-family: 'Roboto';
	font-size: 14px;
	padding: 0;
	line-height: 1.6;
	color: #707070;
	margin-left: 7.8em;
	margin-top: 2.2em;
}

.fa-stack /*container fa*/

{

display: inline-block;
height: 60px;
line-height: 2em;
position: relative;
vertical-align: middle;
width: 15%;


}


.fa, .fas,.far

{

font-weight: 900;
font-family: 'FontAwesome';
}


.fa-char-line, .fa-cubes, .fa-char-pie


{

text-align: center;
border-radius: 100%;
padding: 20px;
box-shadow: 0 0 2px #888;
color: #5cadd3;
font-size: 30px;
width: 70px;
height: 70px;
transition: 0.9s ease-out;


}

.chart

{

	margin-top: 0em;
	margin-left: 0em;
	border: 1px solid grey;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 20px;
}


.point2


{

margin-top: 1em;
margin-left: 3em;
}


.block.fa-circle

{

	position: absolute;
	top: 25px;
	left: 63px;
	color: #5cadd3;
	border: 3px solid #fff;
	border-radius: 100%;
	background: #fff;
	font-size: 12px;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 
{

	display: none;
}
/*fin section services*/


/*Portfolio*/

/*en tete*/

#portfolio

{

	background-color: #efefef;
	padding-bottom: 7%;
	height: 232%;
	width: 100%;
	padding-right: 0;
}



#groupe_en_tete

{

display: block;
margin-top: 0em;
right: 0px;

}

#en_tete_3


{

display: block;
	margin-top: 23em;
left: -30px;


}

 .projets


{

font-family: 'Roboto';
font-size: 40px;
font-weight: bold;
padding: 20px 0 0 0px;
text-align: center;
margin: 130px 0 0 0;
font-kerning: normal;
line-height: 1.6;
width: 110%;
top: -476px;
right: -16.55px;
left: -19.1px;
bottom: 250px;
display: block;
}


.rectangle2

{

width: 10%;
margin: 0;
border-bottom: 1px solid #e5e7ea;
position: absolute;
left: 370px;
right: -54px;
top: -242px;
}

.point1bis

{

display: none;

}

.point2bis 

{

    margin-top: 0px;
	margin-left: 0px;
	position: relative;
	width: 100%;
top: -90px;
left: 50%;
right: 50%;
}
.point2bis .fa-circle

{
border: 3px solid #fff;
border-radius: 100%;
top: -165px;
position: absolute;
z-index: 3;



}

.t_intro

{

text-align: center;
padding: 0px 30px;
margin: 0% 25% 5% 20%;
line-height: 1.6;
font-family: 'Roboto';
font-weight: bold;
font-size: 14px;
color: #707070;
width: 100%;
}


.intro_bis

{

width: 53%;
margin: 0% 35% 5% auto;
position: relative;
top: -210px;
}

/*fin en tete*/

/*images travaux*/


.containergallery

{

display: inline;
height: 80%;
width: 97%;

}

#espacement_presentation /* presentation en gris */


{

margin: 0% 50% 0% 30%;
top: 555.2px;
}


#presentation /* presentation en gris */

{

width: 110%;
margin: 0 auto;
bottom: 50px;
top: -270px;

}

ul#conteneur_images


{
list-style: none;
display: flex;
flex-wrap: wrap;


margin: 0 ;
width: 22.2%; 
height: 69%;
flex-direction: column;
padding: 0% 0% 28% 0%;
align-content: center;
position: relative;

left: 550px;
right: 0px;
bottom: 50px;
top: 140px;
}

li.conteneur_image_overlay


{
min-width: 272px;
width: 107%;
text-align: center;

}


/*fin images travaux*/

/*footer*/


#contact

{




}


.contact_conteneur

{
display: flex;
flex-wrap: wrap;
background-color: #e8f0fb;
width: 100%;

}

.contact-form


{
	
	
left: 0%;
width: 100%;
top: 20%;
text-align: center;

}

.carte

{

width: 100%;
height: 660px;
bottom: -40em;
}


}





