@font-face
{
	font-family: 'FontAwesome';
	}
	     @font-face
	     {

	font-family: 'Roboto';
   
     
}

html

{
overflow-x: hidden;
max-width: 100%;
height: 1548px;
display: inline-block;
margin: 0;
padding: 0;
}
body
{
width: 1606.4px;
height: auto;


max-height: 4046px;

margin: 0;
padding: 0;

display: inline-block;

}

#page
{
width: 100%;
height: 159vh;


}

/*menu fixe*/


#accueil	


		{

bottom: 11px;
width: 100%;
min-width: 100.4em;
height: 600px;


		}



#zone_menu
{

	position : fixed;
	
	background-color: rgba(255,255,255,1);
	

	z-index: 10;

	width: 100%;
	margin-bottom: 0.5em;
top: 0.10em;




}


.flotte
{
	display: inline-block;
	float: left;


	padding-top: 0%;
    padding-bottom: 0em;
    padding-left: 14em;


    background-color: #ffffff;
z-index: 1;

position: relative;
	
		margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
	min-width: 100.4em;
	height: 4em;
top: -2px;


	

		
}


#nav 
{
	position: absolute;
	display: flex;
	
	margin-left: 60%;
	margin-top: 0.2em;

  width: 100%;
  min-width:auto;
 float: right;
z-index: 15;
          
          font-family: 'Roboto Thin';
   
      }

#menu

{
display: table;
padding: 0;
font-family: 'Roboto Thin', 'Roboto';
}


#menu li

{

display: table-cell;
width: 110px;
}


 #menu a
      {
	    color: #292c30;
text-decoration: none;

}








.bloc2  /*banniere*/
{

    display: block;

	    background-image: url(webagency_images/images/slider/bg1.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	
		height: 100%;
		width: 100%;

		margin-top: 0%;
		margin-right: 0%;

		padding-left: 0; 
		padding-right: 0;
		margin-bottom: 0%;
		padding-bottom: 0;
		
		position: absolute;
		font-family: 'Roboto';


	}
h1
{

	display: block;
	line-height: 190px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	
}



h2
{

	display: inline-block;
	
	color: #404144;


	font-size: 120%;
	font-family: 'Roboto';


	

}


h3
{

	display: inline-block;
	
	color: #404144;


	font-size: 100%;
	font-family: 'Roboto';
margin-left: 21%;

	

}

.text1_/*webagency*/
{
	position: relative;
	color: #6aacd2;
	margin-left: 118px;
	
	padding: 0px;
	


}
.text1_1/*l'agence de tous*/
{
	position: relative;
	color: #fcfcfc;

	

	width: 100%;
	
	text-indent: 5px;

	
}
.text1_2/*vos projet !*/
{
	position: relative;
	display: block;
	color: #fcfcfc;
	
	

	width: 100%;

	
	margin: -8em 25em 100em 5em;
	

	padding: 1em 0 6em 0;
	
	
	
}

.text1
{
	position: relative;
	color: #fcfcfc;
	
		margin: -5em 0 0 8em;
		
	width: 40%;
	height: 2em;

	    font-family: 'Roboto';


}
.text2
{
	position: absolute;
     font-family: 'Roboto';
		color: #fcfcfc;
	background-color: #6aacd2;

	 padding: 1em 0 0 0.5em;
	 

	 height: 1em;
	 width: 6em;
	 line-height: 5%;
	 

	 margin: 18.3em 0 1em 8em;
	 
	 

}










/*section services*/








#service



{

margin-bottom: 21%;



}

.services

{

	text-align: center;
	margin-bottom: 0;
	 margin-top: 0;
	 margin-left: 0;

	 padding-bottom: 0;
	 height: 0.1%;

	 font-size: 200%;
	 font-family: 'Roboto';
	 position: absolute;
	 left: 39.7%;
	 top: 54%;
}

.title_divider1

{


width: 80%;
display: flex;
justify-content: center;
margin-top: 5%;

position: relative;

}



.title_divider1 .fa-circle

{
border: 3px solid #fff;
    position: absolute;
    top: -12px;
    color: #5cadd3;
    border-radius: 100%;
    z-index: 5;

	
}


.rectangle

{



width: 10%;
 
 
border-bottom: 1px solid grey;

 margin: 0 15px; 
 

 z-index: 2;

 


}


.intro
{
	
	display: inline-block;
		 font-family: 'Roboto';


width: 53%;
height: 3%;

text-align: center;

	 margin-left: 37%;
     margin-top: 4%;
   

     line-height: 18px;	
position: absolute;
left: -17%;

        }

.contenu_service

{

width: 100%;
margin: 0;
position: absolute;
display: block;
top: 67%;
right: -15%;


}

.flotte1
{
	float: left;

	
	margin-top: 17%;
	margin-left: -4%;
	

}


aside
{

	margin-top: 6.5em;
	margin-left: -25em;
	width: 100%;
	position: absolute;
}


#container 


{
    

display: flex;
flex-direction: column;
width: 100%;
   
   
        }
 

.block

{

width: 100%;
margin: 20px 0;
display: flex;
flex-direction: row;
position: relative;

}


 .h21 /* UX design */

{

position: absolute;

width: 150px;



margin-top: 6.2em;
margin-bottom: 2em;
 margin-left: 37.4em;
 


}




#icones1

{


position: relative;
display: inline-block;

color:  #6eaed3;
right: 22%;

}


.chart

{




margin-top: 3.7em;
margin-left: 24.5em;
	
	font-size: 33px;
	
	z-index: 3;
text-align: center;
border-radius: 100%;
padding: 83%;
box-shadow: 0px 0px 2px #888;
color: #5cadd3;
width: 86%;
height: 86%;
transition: 0.9s ease-out;

}


.point2
{
	position: absolute;
	display: inline-block;


	font-size: 1.2em;
	
	

	z-index: 3;

margin-top: -4.5em;
margin-left: 45.7em;


}


.text_11


{
	position: absolute;
font-family: 'Roboto';

margin-left: 56.1em;
margin-top: 9.4em;

width: 28.5em;


}


.h22  /*  UI design   */

{

	position: absolute;
	
	width: 150px;

	
	margin-left: 37.4em;
	margin-top: 15em;


}

#icones2


{

position: relative;
display: inline-block;

color:  #6eaed3;
right: 22%;
}

.cubes


{

	
margin-left: 27em;
margin-top: 8.5em;

	

	z-index: 2;
    text-align: center;
    border-radius: 100%;
    padding: 25px;
    box-shadow: 0px 0px 2px #888;
    color: #5cadd3;
    font-size: 30px;
    width: 32px;
    height: 32px;
    transition: 0.9s ease-out;
}


.point3


{

	font-size: 1.2em;
	
	z-index: 3;

margin-left: 45.9em;
margin-top: -4.5em;


}


.text_21



{
	position: absolute;
	font-family: 'Roboto';

	margin-left: 56.1em;
margin-top: 18em;

width: 28.5em;

}

 
 .h23  /*  SEO  */

{
	
position: absolute;

width: 150px;

margin-left: 37.4em;
margin-top: 23.8em;

}

#icones3



{

position: relative;
display: inline-block;

color:  #6eaed3;
right: 22%;
}



.pie


{
	

margin-left: 29em;
margin-top: 14em;

	

	z-index: 2;
    text-align: center;
    border-radius: 100%;
    padding: 28px;
    box-shadow: 0px 0px 2px #888;
    color: #5cadd3;
    font-size: 28px;
    width: 28px;
    height: 28px;
    transition: 0.9s ease-out;
}






.point4


{


font-size: 1.2em;
	
	z-index: 3;

margin-left: 46.1em;
margin-top: -4.6em;

}


.text3


{
	position: absolute;
	font-family: 'Roboto';

	margin-left: 56.1em;
margin-top: 26.5em;

width: 28.5em;

}


h2 


{

font-family: 'Roboto';

position: absolute;



margin-top: 2em;


}





                               /*portfolio-projets*/




#portfolio


{
position: absolute;

margin-top: 25em;
margin-bottom:1em;

padding-right: 0;
padding-bottom: 70em;

height: 100%;
width: 100%;


background-color: #f5f5f5;
	 
}





 .projets
{
	
position: absolute;
	
	margin-top: 8%;
margin-left: 0%;

width: 100%;
font-size: 2.5em;
text-align: center;


	 font-family: "Roboto";


}

#title_divider2


{

display: flex;
justify-content: center;
    top: 173px;
    position: relative;


}

.rectangle2


{
width: 10%;
    margin: 8px 15px;
    z-index: 0;
    border-bottom: 1px solid grey;


}

#title_divider2 .fa-circle


{

position: absolute;
top: -12%;
color: #5cadd3;
border: 3px solid #fff;
border-radius: 100%;



}

.intro_bis
{
	
	display: inline-block;
		 font-family: 'Roboto';


width: 103%;
height: 3em;

text-align: center;

	 margin-left: 0%;
     margin-top: 18%;
   margin-bottom: 35%;

     line-height: 25px;	



        }



#espacement_presentation

{
	
position: absolute;
justify-content: center;

margin-left: 40%;
margin-bottom: 0em; 

top: 336px;

}

#presentation

{
 position: relative;
 display: flex;
 justify-content: center;
		 font-family: 'Roboto';

padding-bottom: 2.5em;
background-color: #b5b8bc;
border-radius: 5px;
}



.wo

{
	position: relative;
padding: 10px;
padding-bottom: 0.5em;
overflow: visible;
}



.wo:hover
{
background-color: #69c0db ;
color: #fcfcfc;

border-bottom: 5px solid  #528bac; 
border-radius: 5px;
}


.AW
{

	height: 0;
	margin: 0;

}

 .AW .fa
{
position: absolute;

margin-left: 35px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac; 
font-size: 40px;


}


.AW:hover > .fa 
 {

 	visibility: visible;

 }  
 


.crea

{
padding: 10px;
padding-bottom: 0.5em;
}

.crea:hover
{
background-color: #69c0db;
color: #fcfcfc;
border-bottom: 5px solid  #528bac;  
border-radius: 5px;
}

.cre
{

	height: 0;
	margin: 0;

}

 .cre .fa
{
position: absolute;

margin-left: 30px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac;  
font-size: 40px;


}


.cre:hover > .fa 
 {

 	visibility: visible;
 }  



.cor

{
padding: 10px;
padding-bottom: 0.5em;
}

.cor:hover
{
background-color: #69c0db;
color: #fcfcfc;
border-bottom: 5px solid  #528bac;  
border-radius: 5px;
}


.co
{

	height: 0;
	margin: 0;

}

 .co .fa
{
position: absolute;

margin-left: 30px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac;  
font-size: 40px;


}


.co:hover > .fa 
 {

 	visibility: visible;
 }  


.por

{

padding: 10px;
padding-bottom: 0.5em;
}

.por:hover
{
background-color: #69c0db;
color: #fcfcfc;
border-bottom: 5px solid  #528bac;  
border-radius: 5px;
}

.po
{

	height: 0;
	margin: 0;

}

 .po .fa
{
position: absolute;

margin-left: 30px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac;  
font-size: 40px;


}


.po:hover > .fa 
 {

 	visibility: visible;
 }  








#conteneur_images

{
	
display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 35em;
    margin: -28% 0 0 0%;
}






  

.conteneur_image_overlay

{

	
position: relative;


margin-left: 0em;
margin-bottom: 1em;
margin-right: 1em;

	width: 23%;
overflow: visible;
	
}

.conteneur_image_overlay img



{

max-width: 100%;



}


.image_jaune

{


width: 100%;
height: 100%;


}
.image_saumon

{


width: 100%;
height: 100%;


}

.image_lapin_rose

{


width: 100%;
height: 100%;

}


.image_vieux_rose

{


width: 100%;
height: 100%;


}

.image_grise

{


width: 100%;
height: 100%;


}



.image_orange

{

	
width: 100%;
height: 100%;

}


.image_beige

{

width: 100%;
height: 100%;


}

.image_marron_clair

{

display: block;
width: 100%;
height: 100%;


}
.overlay

{
	position: absolute;
	bottom: 0;
  left: 0;
right: 0;
	overflow: hidden;
	transition:  .5s ease;
	width: 100%;
  height: 0;
	background-color: #3f392c;
	opacity: 0.5;

}

div .overlay .fa


{

position: absolute;
top: 3%;
left: 90%;
transform: translate(-50%, -50%);
font-size: 45px;
color: #2196f3;
border-radius: 50%;
z-index: 2;
border: 2px solid #fcfcfc;

 	opacity: 1;

transition:  .5s;


}






div .overlay .far.fa-eye
{

visibility: visible;
position: absolute;
 color:  #fff;	
 	
opacity: 1;
font-size: 14px;
z-index: 999;
margin-left: 20em;
margin-top: -4px;

}


ul#conteneur_images

{


	list-style: none;
	height: 200px;
}


.conteneur_image_overlay:hover .overlay
{

height: 50%;
overflow: visible;
}





.text_overlay

{

color: white;
font-family: "Roboto";
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
font-size: 20px;
text-align: center;


}








/*fin contenu- accueil, service, portfolio*/





/*footer*/







#contact


{
margin-top:130em;

	height:80em;


	width: 100em;
	
	border: 0; 
	
}


.contact_conteneur

{


position: relative;

	width: 110%;
	margin-top: -300px;
	


}

.contact-form{
    
    left: 65%;
    -webkit-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    border: 1px white solid;
    position: absolute;
    background-color: rgba(  232, 241, 252 ,0.8);
    top: 25%;
    padding-left: 1.5%; 
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Roboto";
    z-index: 5;
}

input[type="text"], input[type="email"] 
{
width: 300px;
}
input[type="submit"]

{

padding: 5px;
background-color: #6aacd2;
color: #fcfcfc;
border-radius: 4px;

}

textarea
{

width: 300px;
height: 200px;
}


.carte

{
position: relative;
transform: translateZ(0px);
overflow: hidden;

height: 80em;
width: 100%;

}











