@font-face
{
	font-family: 'FontAwesome';
	}
	     @font-face
	     {

	font-family: 'Roboto';
   
     
}

html

{
overflow-x: hidden;
max-width: 100%;
height: 1548px;
display: inline-block;
margin: 0;
padding: 0;
}
body
{
width: 1606.4px;
height: auto;


max-height: 4046px;

margin: 0;
padding: 0;

display: inline-block;

}

#page
{
width: 100%;
height: 159vh;


}

/*menu fixe*/


#accueil	


		{

bottom: 11px;
width: 100%;
min-width: 100.4em;
height: 600px;


		}



#zone_menu
{

	position : fixed;
	
	background-color: rgba(255,255,255,1);
	

	z-index: 10;

	width: 100%;
	margin-bottom: 0.5em;
top: 0.10em;




}


.flotte
{
	display: inline-block;
	float: left;


	padding-top: 0%;
    padding-bottom: 0em;
    padding-left: 14em;


    background-color: #ffffff;
z-index: 1;

position: relative;
	
		margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
	min-width: 100.4em;
	height: 4em;
top: -2px;


	

		
}


#nav 
{
	position: absolute;
	display: flex;
	
	margin-left: 60%;
	margin-top: 0.2em;

  width: 100%;
  min-width:auto;
 float: right;
z-index: 15;
          
          font-family: 'Roboto Thin', 'Roboto';
   
      }




#menu

{
display: table;
padding: 0;
font-family: 'Roboto Thin', 'Roboto';

}


#menu li

{

display: table-cell;
width: 110px;

}


  #menu a
  
      {
	    color: #292c30;
text-decoration: none;


}







.bloc2  /*banniere*/
{

    display: block;

	    background-image: url(webagency_images/images/slider/bg1.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	
		height: 100%;
		width: 100%;

		margin-top: 0%;
		margin-right: 0%;

		padding-left: 0; 
		padding-right: 0;
		margin-bottom: 0%;
		padding-bottom: 0;
		
		position: absolute;
		font-family: 'Roboto';


	}

h1
{

	display: inline-block;
	line-height: 190px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	
}



h2
{

	display: inline-block;
	
	color: #404144;


	font-size: 100%;
	font-family: 'Roboto';


	

}
.text1_/*webagency*/
{
	position: absolute;
	color: #6aacd2;
	margin-left: 118px;
	
	padding: 0px;
	


}
.text1_1/*l'agence de tous*/
{
	position: absolute;
	color: #fcfcfc;

	margin-left: 10.8em;
	margin-top: 0em;
	margin-bottom: 5px;


	width: 10em;
	height: 300px;


	padding-left: 0px; 
	
	text-indent: 5px;

	
}
.text1_2/*vos projet !*/
{
	position: absolute;
	display: inline-block;
	color: #fcfcfc;
	
	
	height: 40px;
	width: 255px;

	margin: 0em;
	margin-bottom: 100em;
	margin-top:1em;
		margin-right: 25em;
		margin-left: 5em;

	padding-top: 0em;
	padding-bottom:6em;
	padding-right: 0em;
	padding-left: 0em;
	
}

.text1
{
	position: absolute;
	color: #fcfcfc;
	

	    
		margin-top: 15em;
		margin-bottom:0em; 
		margin-left: 8em;


	width: 29em;
	height: 2em;


	
	  
	    font-family: 'Roboto';


}
.text2
{
	position: absolute;
     font-family: 'Roboto';
		color: #fcfcfc;
	background-color: #6aacd2;

	 padding: 0.5em;
	 padding-top: 1em;
	 padding-bottom: 0em;
	 padding-right: 0em;
	 padding-left: 0.5em;

	 height: 1em;
	 width: 6em;
	 line-height: 5%;
	 

	 margin: 0em;
	 margin-left: 8em;
	 margin-bottom: 1em;
	 margin-top: 18.3em;
	 

}








/*section services*/







#service



{

margin-bottom: 10em;



}

.services

{

	text-align: center;
	margin-bottom: 0;
	 margin-top: 0;
	 margin-left: 0;

	 padding-bottom: 0;
	 height: 0.1%;

	 font-size: 200%;
	 font-family: 'Roboto';
	 position: absolute;
	 left: 45%;
	 top: 55%;

}



.title_divider

{

margin: 0;
width: 100%;
display: flex;
flex-wrap: wrap;
top: 50%;
left: -8%;
position: absolute;

}


.point1
{
	position: absolute;


	  color: #6eaed3;


		width:  1.9em;
		height: 60px;

		font-size: 26px;
		
		margin-left: 30.97em;
		margin-bottom: 10%;
		margin-top: 6.32em;
		

		z-index: 3;
       
      
}


.point1 .fa-circle

{


	border: 3px solid #fff;
}


.rectangle

{
position: absolute;


width:6.7em;
 height:2px;
 


 margin-top: 12.7em; 
 margin-left: 48em;
 margin-right: 0px;
 

 z-index: 2;

 background-color: #e5e7ea;


}


.intro
{
	
	display: inline-block;
		 font-family: 'Roboto';


width: 33%;
height: 3%;

text-align: center;

	 margin-left: 37%;
     margin-top: 4.5%;
   

     line-height: 25px;	
position: absolute;


        }


.contenu_service

{

width: 100%;
margin: 0;
position: absolute;
display: block;
top: 74%;
right: 10%;


}


.flotte1
{
	float: left;

	
	margin-top: 10%;
	margin-left: 25%;
	

}


aside
{

	margin-top: 2.5%;
	margin-left: 2%;
	width: 100%;
	position: absolute;
}


#container 


{
    position: absolute;

  padding:0;
  margin:0;

display: block;
width: 100%;

   
        }
 

.block

{

width: 100%;
margin: 0;


}


 .h21

{

position: absolute;

width: 150px;



margin-top: 3.2em;
margin-bottom: 2em;
 margin-left: 37.4em;
 


}




#icones1

{


position: absolute;
display: inline-block;

color:  #6eaed3;


}


.chart

{

	position: absolute;
	display: inline-block;


margin-top: 3.7em;
margin-left: 25em;
	
	font-size: 33px;
	
	z-index: 3;

}


.point2
{
	position: absolute;
	display: inline-block;


	font-size: 1.2em;
	
	

	z-index: 3;

margin-top: 6.6em;
margin-left: 44.9em;


}



.circle1

{

position: absolute;  
display: inline-block;

top: 30px;
bottom: 30px;


color: #ffffff;

width: 3em;
height: 3em;

margin-left: 11.49em;



font-size: 70px;

z-index: 1;

	
}


.circle2

{

  
display: inline-block;

font-size: 73px;



color: #e5e7ea;


margin-top: 1.36em;
margin-left: 11em;

padding-top:  0%;
padding-left: 0em;


height: 1em;
width: 2em;

}


.text_11


{
	position: absolute;
font-family: 'Roboto';

margin-left: 56.1em;
margin-top: 8.4em;

width: 28.5em;


}


.h22

{

	position: absolute;
	
	width: 150px;

	
	margin-left: 37.4em;
	margin-top: 11.9em;


}

#icones2


{

position: absolute;
display: inline-block;

color:  #6eaed3;

}

.cubes


{

	position: absolute;
display: inline-block;

margin-left: 30.50em;
margin-top: 9.5em;

	font-size: 27.2px;

	z-index: 2;

}


.point3


{


	position: absolute;
display: inline-block;


	font-size: 1.2em;
	
	z-index: 3;

margin-left: 44.9em;
margin-top: 14em;


}

.circle3


{

position: absolute;
display: inline-block;

top: 175.78px;
bottom: 30px;


color: #ffffff;

width: 3em;
height: 3em;

margin-left: 11.49em;


font-size: 70px;

z-index: 1;

	

}


.circle4



{

display: inline-block;


font-size: 73px;


color: #e5e7ea;


margin-top: 3.36em;
margin-left: 11em;

padding-top:  0%;
padding-left: 0em;


height: 1em;
width: 2em;

}



.text_21



{
	position: absolute;
	font-family: 'Roboto';

	margin-left: 56.1em;
margin-top: 17.2em;

width: 28.5em;

}

 
 .h23

{
	
position: absolute;

width: 150px;

margin-left: 37.4em;
margin-top: 20.8em;

}

#icones3



{

position: absolute;
display: inline-block;

color:  #6eaed3;

}



.pie


{
	position: absolute;
display: inline-block;

margin-left: 35.16em;
margin-top: 17.4em;

	font-size: 23.6px;

	z-index: 2;

}

.point4


{


display: inline-block;
position: absolute;

font-size: 1.2em;
	
	z-index: 3;

margin-left: 44.9em;
margin-top: 21.4em;

}


.circle5

{

position: absolute;
display: inline-block;

top: 315.78px;
bottom: 30px;


color: #ffffff;

width: 3em;
height: 3em;

margin-left: 11.49em;


font-size: 70px;

z-index: 1;

	


}

.circle6


{


display: inline-block;


font-size: 73px;


color: #e5e7ea;


margin-top: 5.26em;
margin-left: 11em;

padding-top:  0%;
padding-left: 0em;


height: 1em;
width: 2em;


}


.text3


{
	position: absolute;
	font-family: 'Roboto';

	margin-left: 56.1em;
margin-top: 26em;

width: 28.5em;

}


h2 


{

font-family: 'Roboto';

position: absolute;


margin-left: 19em;
margin-top: 3.6em;


}



                       /*portfolio-projets*/






#portfolio


{
position: absolute;

margin-top: 25em;
margin-bottom:1em;

padding-right: 42em;
padding-bottom: 25em;

height: 147%;
width: 78%;


background-color: #f5f5f5;
	 
}


#groupe_en_tete

{

position: relative;
display: inline-block;
right: 3.3em; 
font-family: 'Roboto';
margin-top: -12em;

}


 .projets
{
	
position: absolute;
	display: inline-block;

	margin-top:5em;
margin-left: 20.2em;

width: 18em;
font-size: 2.3em;

padding-right: 20px;
	 padding-bottom: 0px;

	 font-family: "Roboto";


}



.rectangle2


{
position: absolute;

width:6.7em;
 height:2px;

 
margin-left: 50.5em;

margin-top: 26.25em; 

 margin-right: 0px;
 

 z-index: 2;

 background-color: #e5e7ea;



}





#en_tete_3


{

	position: relative;
display: inline-block;


margin-top: 23.6em;
margin-left: 4.7em;


padding-right: 20px;
padding-left: 20px;

}

.point1bis
{
	position: absolute;


	  color:  #fcfcfc;

		width:  1.9em;
		height: 30px;

		font-size: 27px;
		
		margin-left: 28.1em;
		margin-bottom: 10.3%;
		margin-top: 0.12em;
		

		z-index: 3;
        
      
}



.point2bis
{
	position: relative;


	  color: #6eaed3;


	font-size: 1.29em;
			width:  2em;
		height: 0.5em;

		margin-top: 1.9em;
		margin-left: 36.9em;
		
	
	bottom: 0.27em;
		

		z-index: 3;
      
      
}

.intro_bis
{
	
	display: inline-block;
		 font-family: 'Roboto';


width: 33em;
height: 3em;

text-align: center;

	 margin-left: 32em;
     margin-top: 2.4em;
   margin-bottom: 10em;

     line-height: 25px;	



        }



#espacement_presentation

{
	
position: absolute;
justify-content: center;

margin-left: 40.1em;
margin-bottom: 0em; 

top: 455.2px;

}

#presentation

{
 position: relative;
 display: flex;
 justify-content: center;
		 font-family: 'Roboto';

padding-bottom: 2.5em;
background-color: #b5b8bc;
border-radius: 5px;
}



.wo

{
	position: relative;
padding: 10px;
padding-bottom: 0.5em;
overflow: visible;
}



.wo:hover
{
background-color: #69c0db ;
color: #fcfcfc;

border-bottom: 5px solid  #528bac; 
border-radius: 5px;
}


.AW
{

	height: 0;
	margin: 0;

}

 .AW .fa
{
position: absolute;

margin-left: 35px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac; 
font-size: 40px;


}


.AW:hover > .fa 
 {

 	visibility: visible;

 }  
 


.crea

{
padding: 10px;
padding-bottom: 0.5em;
}

.crea:hover
{
background-color: #69c0db;
color: #fcfcfc;
border-bottom: 5px solid  #528bac;  
border-radius: 5px;
}

.cre
{

	height: 0;
	margin: 0;

}

 .cre .fa
{
position: absolute;

margin-left: 30px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac;  
font-size: 40px;


}


.cre:hover > .fa 
 {

 	visibility: visible;
 }  



.cor

{
padding: 10px;
padding-bottom: 0.5em;
}

.cor:hover
{
background-color: #69c0db;
color: #fcfcfc;
border-bottom: 5px solid  #528bac;  
border-radius: 5px;
}


.co
{

	height: 0;
	margin: 0;

}

 .co .fa
{
position: absolute;

margin-left: 30px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac;  
font-size: 40px;


}


.co:hover > .fa 
 {

 	visibility: visible;
 }  


.por

{

padding: 10px;
padding-bottom: 0.5em;
}

.por:hover
{
background-color: #69c0db;
color: #fcfcfc;
border-bottom: 5px solid  #528bac;  
border-radius: 5px;
}

.po
{

	height: 0;
	margin: 0;

}

 .po .fa
{
position: absolute;

margin-left: 30px;
margin-top: 15px;
margin-bottom: 0em;
height: 0;
top: 0;
padding-bottom: 0px;
padding-top: 0px;
visibility: hidden;
color: #528bac;  
font-size: 40px;


}


.po:hover > .fa 
 {

 	visibility: visible;
 }  








#conteneur_images

{
	
display: flex;
	flex-wrap: wrap;
	flex-direction: column;

width: 100%;
height: 35em;
margin-bottom: 160px;
margin-top: 10em;
margin-left:11em;
margin-right: auto;


}





  

.conteneur_image_overlay

{

	
position: relative;


margin-left: 0em;
margin-bottom: 1em;
margin-right: 1em;

	width:17em;
overflow: visible;
	
}
.image_jaune

{


width: 100%;
height: auto;


}
.image_saumon

{


width: 100%;
height: auto;


}

.image_lapin_rose

{


width: 100%;
height: auto;

}


.image_vieux_rose

{


width: 100%;
height: auto;


}

.image_grise

{


width: 100%;
height: auto;


}



.image_orange

{

	
width: 100%;
height: auto;

}


.image_beige

{

width: 100%;
height: auto;


}

.image_marron_clair

{

display: block;
width: 100%;
height: auto;


}
.overlay

{
	position: absolute;
	bottom: 0;
  left: 0;
right: 0;
	overflow: hidden;
	transition:  .5s ease;
	width: 100%;
  height: 0;
	background-color: #3f392c;
	opacity: 0.5;

}

div .overlay .fa


{

position: absolute;
top: 3%;
left: 90%;
transform: translate(-50%, -50%);
font-size: 45px;
color: #2196f3;
border-radius: 50%;
z-index: 2;
border: 2px solid #fcfcfc;

 	opacity: 1;

transition:  .5s;


}






div .overlay .far.fa-eye
{

visibility: visible;
position: absolute;
 color:  #fff;	
 	
opacity: 1;
font-size: 14px;
z-index: 999;
margin-left: 17em;
margin-top: -4px;

}

ul#conteneur_images

{

list-style: none;

}


.conteneur_image_overlay:hover .overlay
{

height: 50%;
overflow: visible;
}





.text_overlay

{

color: white;
font-family: "Roboto";
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
font-size: 20px;
text-align: center;


}





             /*fin contenu- accueil, service, portfolio*/





        /*footer*/







#contact


{
margin-top:130em;

	height:80em;


	width: 100em;
	
	border: 0; 
	
}


.contact_conteneur

{


position: relative;

	width: 110%;
	margin-top: -300px;
	


}

.contact-form{
    
    left: 65%;
    -webkit-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    border: 1px white solid;
    position: absolute;
    background-color: rgba(  232, 241, 252 ,0.8);
    top: 25%;
    padding-left: 1.5%; 
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Roboto";
    z-index: 5;
}

input[type="text"], input[type="email"] 
{
width: 300px;
}
input[type="submit"]

{

padding: 5px;
background-color: #6aacd2;
color: #fcfcfc;
border-radius: 4px;

}

textarea
{

width: 300px;
height: 200px;
}


.carte

{
position: relative;
transform: translateZ(0px);
overflow: hidden;

height: 80em;
width: 100%;

}





/*petite résolution tablette*/

@media screen and (min-width:768px) and (max-width:1024px)


{

* { 

margin: 0;
padding: 0;
box-sizing: border-box;

 }

html, body

{

	height: 100%;
	border: 0;
}

body

{

	font-family: 'Roboto';
	color: #000;
}

#accueil

{

background-color: #fff;
width: 100%;

}

#zone_menu

{

display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
background-color: #fff;
z-index: 150;
top: 0;
left: 0;
width: 100%;


}

.flotte

{

padding: 5px 10px 20px 0px;
z-index: 99;
}

#nav

{

justify-content: center;
padding: 65px 0px 40px 0px;
margin: 0 0 0 0;
background-color: #fff;
}

 #menu a

{

font-family: 'Roboto Thin', 'Roboto';
padding: 5px 0px 5px 0px;
text-decoration: none;
color: #75787c;
text-align: center;
}


/* fin header*/


/*bannière*/

.bloc2

{

background: url('webagency_images/images/slider/bg1.jpg') no-repeat center;
background-size: contain;

position: absolute;
width: 100%;
height: 70%;
padding-left: 0;
padding-right: 0;
}

.bloc2 .caption /*texte accroche h1*/


{

position: absolute;
height: 100%;

top: -15%;
left: 0%;
color: #fff;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
z-index: 1;


}


.bloc2 .caption h1 


{

font-family: 'Roboto';
font-size: 25px;
font-weight: bold;
color: #fff;
padding: 15px 0px;
line-height: 3.3;
letter-spacing: 0px;
width: 100%;
position: absolute;
top: 393px;
}

.text1_

{

color: #5cadd3;
margin-left: 85px;
}
.text1_1

{

margin-left: 9.3em;


}

.text1_2

{

margin-left: 3.5em;

}
.caption .text1

{

font-family: 'Roboto';
font-size: 14px;
color: #fff;
margin-bottom: 30px;
padding: 10px 0px;
line-height: 1.6;
margin-left: 6.7em;
margin-top: 8em;
}

.caption .text2

{

font-family: 'Roboto';
font-size: 16px;
width: 120px;
color: #fff;
background-color: #5cadd3;
padding: 10px;
text-decoration: none;
margin-left: 5.7em;
margin-top: 9.5em;

}

/*fin bannière*/

/*services*/
/*en tete service*/




#service


{

margin: 0% 0% 25% 0%;
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 80%;


}
.services

{


width: 100%;
position: relative;
left: 550px;
margin:  0;

}

.services h1


{

margin: 0;
width: 100%;
display: flex;
padding: 0 0% 0 0;
font-size: 35px;
position: absolute;
left:0px;
top: 50px;
line-height: 1;
justify-content: center;

}

.title_divider

{


padding: 0;
margin: 0;
position: absolute;
width: 100%;
left: 210px;
top: 800px;
right: 10px;

}

.rectangle

{

width: 10%;
margin: 0 25%;
border-bottom: 1px solid #e5e7ea;
position: absolute;
height: 1%;
left: 30px;

}

.point1 .fa-circle

{

position: absolute;
margin-top: -7em;
margin-left: -0.7em;
color: #5cadd3;
border: 5px solid #fff;
border-radius: 100%;

}

.intro

{

text-align: center;
padding: 0;
margin: 0;
line-height: 1.6;
font-family: 'Roboto';

color: #707070;
display: block;
position: absolute;
left: 50.55px;
top: 820px;
width: 100%;
}
/*fin en tete service*/


/*corp services*/


.contenu_service  /*conteneur global image+H2+textes+FA*/

{

display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
margin: 0px 0px;
position: relative;
top: 283px;
right: 208px;

}


.flotte1  /*container image ordi*/

{

margin: 0;
width: 100%;
position: relative;
top: 48px;
}

.flotte1 img/*image ordi*/

{

flex-grow: 1;
padding: 0 0% 0% 0%;
width: 45%;
position: absolute;
left: 10%;

}

#container /*conteneur H2+textes*/

{

display: flex;
flex-wrap: wrap;
width: 100%; 
flex-grow: 1;
padding: 3.5% 8% 0 2.5%;
position: relative;
left: 45%;

}

.block

{

position: relative;
display: flex;
flex-direction: row;
width: 100%;
margin: 20px 0;
height: 70px;

}

.block #icones1 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}


.block h2, .h21, .h22, .h23

{

	text-align: center;
	font-size: 21px;
	padding: 0px 3px 0 10px;  
	font-family: 'Roboto';
	width: 150px;
	height: 30px;
	margin: 0 0 42px 0;
}

.block .text_11

{

	font-family: 'Roboto';
	font-size: 14px;
	padding: 5px 3px 0 10px;
	line-height: 1.6;
	color: #707070;
	margin-left: 6.9em;
	margin-top: 1.6em;
}


.block #icones2 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}

.cubes

{

position: absolute;
margin-left: 0.2em;
margin-top: 0em;

}

.point3

{

margin-left: 3.4em;
margin-top: 1em; 

}

.block .text_21

{

font-family: 'Roboto';
	font-size: 14px;
	padding: 0;
	line-height: 1.6;
	color: #707070;
	margin-left: 7.8em;
	margin-top: 2.2em;
}

.block #icones3 

{

margin: 5px 5px 5px 5px;
position: relative;
width: 8%;
padding: 0 0 0 0;
display: flex;

}

.pie

{
	font-size: 25px;
margin-left: 0.2em;
margin-top: 0.1em;
border: 1px solid grey;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 20px;
}


.point4


{

margin-left: 3.2em;
margin-top: 1.1em;

}


.block .text3


{

font-family: 'Roboto';
	font-size: 14px;
	padding: 0;
	line-height: 1.6;
	color: #707070;
	margin-left: 7.8em;
	margin-top: 2.2em;
}

.fa-stack /*container fa*/

{

display: inline-block;
height: 60px;
line-height: 2em;
position: relative;
vertical-align: middle;
width: 15%;


}


.fa, .fas,.far

{

font-weight: 900;
font-family: 'FontAwesome';
}


.fa-char-line, .fa-cubes, .fa-char-pie


{

text-align: center;
border-radius: 100%;
padding: 20px;
box-shadow: 0 0 2px #888;
color: #5cadd3;
font-size: 30px;
width: 70px;
height: 70px;
transition: 0.9s ease-out;


}

.chart

{

	margin-top: 0em;
	margin-left: 0em;
	border: 1px solid grey;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 20px;
}


.point2


{

margin-top: 1em;
margin-left: 3em;
}


.block.fa-circle

{

	position: absolute;
	top: 25px;
	left: 63px;
	color: #5cadd3;
	border: 3px solid #fff;
	border-radius: 100%;
	background: #fff;
	font-size: 12px;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 
{

	display: none;
}
/*fin section services*/


/*Portfolio*/

/*en tete*/

#portfolio

{

	background-color: #efefef;
	padding-bottom: 7%;
	height: 232%;
	width: 100%;
	padding-right: 0;
}



#groupe_en_tete

{

display: block;
margin-top: 0em;
right: 0px;

}

#en_tete_3


{

display: block;
	margin-top: 23em;
left: -30px;


}

 .projets


{

font-family: 'Roboto';
font-size: 40px;
font-weight: bold;
padding: 20px 0 0 0px;
text-align: center;
margin: 130px 0 0 0;
font-kerning: normal;
line-height: 1.6;
width: 110%;
top: -476px;
right: -16.55px;
left: -19.1px;
bottom: 250px;
display: block;
}


.rectangle2

{

width: 10%;
margin: 0;
border-bottom: 1px solid #e5e7ea;
position: absolute;
left: 370px;
right: -54px;
top: -242px;
}

.point1bis

{

display: none;

}

.point2bis 

{

    margin-top: 0px;
	margin-left: 0px;
	position: relative;
	width: 100%;
top: -90px;
left: 50%;
right: 50%;
}
.point2bis .fa-circle

{
border: 3px solid #fff;
border-radius: 100%;
top: -165px;
position: absolute;
z-index: 3;



}

.t_intro

{

text-align: center;
padding: 0px 30px;
margin: 0% 25% 5% 20%;
line-height: 1.6;
font-family: 'Roboto';
font-weight: bold;
font-size: 14px;
color: #707070;
width: 100%;
}


.intro_bis

{

width: 53%;
margin: 0% 35% 5% auto;
position: relative;
top: -210px;
}

/*fin en tete*/

/*images travaux*/


.containergallery

{

display: inline;
height: 80%;
width: 97%;

}

#espacement_presentation /* presentation en gris */


{

margin: 0% 50% 0% 30%;
top: 555.2px;
}


#presentation /* presentation en gris */

{

width: 110%;
margin: 0 auto;
bottom: 50px;
top: -270px;
left: 50px;
}

ul#conteneur_images


{
list-style: none;
display: flex;
flex-wrap: wrap;


margin: 0 ;
width: 22.2%; 
height: 69%;
flex-direction: column;
padding: 0% 0% 28% 0%;
align-content: center;
position: relative;

left: 550px;
right: 0px;
bottom: 50px;
top: 140px;
}

li.conteneur_image_overlay


{
min-width: 272px;
width: 107%;
text-align: center;

}


/*fin images travaux*/

/*footer*/


#contact

{




}


.contact_conteneur

{
display: flex;
flex-wrap: wrap;
background-color: #e8f0fb;
width: 100%;

}

.contact-form


{
	
	
left: 0%;
width: 100%;
top: 20%;
text-align: center;

}

.carte

{

width: 100%;
height: 660px;
bottom: -40em;
}


}



